.signup-illustration {
    margin-right: 5rem;
    margin-left: 4rem;
}

.form-signup {
    padding: 1rem 3rem;
    background-color: var(--dark-accent);
    border-radius: 1rem;

    .form-header {
        color: white;
    }
    
    .form-label {
        color: white;
    }

    .form-error {
        background-color: var(--danger);
        border-radius: 1rem;
        padding: 0.5rem;
        p {
            padding: 0.15rem;
            margin-bottom: 0;
            color: white;
        }
    }
    
    .form-error-text {
        color: var(--danger);
    }
    
    .form-submit {
        color: var(--dark-shade);
        background-color: white;
        border: 0;
    }
    
    .form-submit:hover {
        color: white;
        background-color: var(--dark-shade);
    }
}

.verify-email-information{
    justify-content: center;
    padding-top: 0.5rem;
}