.results-container{
    background-color: var(--light-shade);
    border-radius: 3rem; 
    padding: 2rem;
}

.loading-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    .loading-box{
        display: flex;
        background-color: var(--light-shade) !important;
        border-radius: 3rem; 
        padding: 2rem;
    }
}


.results-card{
     background-color: var(--light-shade);
     border-radius: 3rem; 
     padding: 1rem;
     margin:1rem;
     border: none;
     .results-title-company{
        color: var(--main-brand);
        font-size: 2rem;
    }
     .results-title{
         color: var(--dark-accent);

     }
     .result-job-description{
         margin-top:1rem;
         color:white;
         font-size: 1.1rem;
         font-weight: normal;
         
     }
     .results-position{
        margin-top: 1.3rem;
         color: var(--main-brand);
     }
     .results-location{
         color: var(--dark-accent);

     }
     .results-score{
         color: var(--light-accent);
     }
     .results-info{
         color:white
     }
}