.loading-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    .loading-box{
        display: flex;
        background-color: var(--light-shade);
        border-radius: 3rem; 
        padding: 2rem;
    }
}

.results-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    .header-title {
        color: var(--dark-shade);
    }
}

.results-container{
    background-color: var(--light-shade);
    border-radius: 3rem; 
    padding: 0.5rem;
}

.results-card{
    background-color: var(--light-shade);
    border-radius: 3rem; 
    padding: 1rem;
    margin:1rem;
    border: none;

    .company-title{
        color: var(--dark-shade);
    }

    .job-description{
        //  margin-top:1rem;
         color:var(--white);
         font-weight: normal;
    }

    .info{
        color:white;
        font-weight: 500;
    }
    
    /* override bootstrap card */
    .card {
        background-color: inherit;
        border: transparent;
    }
    .card-header {
        border: transparent;
        background-color: inherit;
        padding: 0.5rem 0;
        display: flex;
    }
    .card-body {
        padding: 0;
        display: block;
    }

    .y-scrollable {
        overflow-y: auto;
        max-height: 200px;
    }
    
    /* styling chrome and safari scroll */
    .y-scrollable::-webkit-scrollbar {
        width: 8px;
    }
       
    .y-scrollable::-webkit-scrollbar-thumb {
        background: var(--light-accent);
        border-radius: 20px;
    }
      
    .y-scrollable::-webkit-scrollbar-track {
        background: transparent;
    }
}