@import '../App/App.scss';

.nav {
    height: auto;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $dark-shade;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.nav-logo {
    margin-top: -5rem;
    margin-bottom: -5rem;
}

.nav-link {
    color: $white;
    font-size: 4rem;
    transition: 0.3s;
}

.nav-link:hover, .nav-link:focus {
    color: darken($white, 15%)
}

.nav-close {
    position: absolute;
    top: 0;
    right: 25px;
    margin-left: 50px;
}
