.y-scrollable {
    overflow-y: auto;
}

/* styling chrome and safari navbar */
.y-scrollable::-webkit-scrollbar {
    width: 8px;
}
   
.y-scrollable::-webkit-scrollbar-thumb {
    background: var(--light-accent);
    border-radius: 20px;
}
  
.y-scrollable::-webkit-scrollbar-track {
    background: var(--light-shade);
}

.nav {
    height: 100vh;
    width: 0; //hide navbar initially
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--dark-shade);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.nav-link {
    color: white;
    font-size: 4rem;
    transition: 0.3s;
}

.nav-link:hover, .nav-link:focus {
    color: darken(white, 15%)
}

.nav-close {
    position: absolute;
    top: 0;
    right: 25px;
    margin-left: 50px;
}

.hamburger {
    cursor: pointer;
}
