.login-page {
    background-color: var(--light-shade);
    color: white;
    height: 100vh;
}

.login-form {
    margin-top: 4rem;

    .form-header {
        color: var(--main-brand);
        font-size: 3.5rem;
    }
    
    .form-label {
        color: white;
    }

    .form-error {
        background-color: var(--danger);
        border-radius: 1rem;
        padding: 0.5rem;
        p {
            padding: 0.15rem;
            margin-bottom: 0;
            color: white;
        }
    }

    .form-error-text {
        color: var(--danger);
    }

    .form-footer {
        display: flex;
    }

    .form-submit {
        color: var(--dark-shade);
        background-color: white;
        border: 0;
    }
    
    .form-submit:hover {
        color: white;
        background-color: var(--dark-shade);
    }
}