@import url("https://use.typekit.net/nny3ayf.css"); //futura pt font

$light-shade: #d8d8e0;
$light-accent: #73c1ce;
$main-brand: #6153ae;
$dark-accent: #87aecf;
$dark-shade: #133c8f;
$gray-white: #f8f7f7;
$brand-danger: #ff5561;
$brand-warning: #ffee55cc;
$brand-success: #69ff55b6;

$theme-colors: (
    "light-shade": $light-shade,
    "light-accent": $light-accent,
    "main-brand": $main-brand,
    "dark-accent": $dark-accent,
    "dark-shade": $dark-shade,
    "gray-white": $gray-white,
    "brand-danger": $brand-danger,
    "brand-warning": $brand-warning,
    "brand-success": $brand-success
);

@import '~bootstrap/scss/bootstrap';

body {
    background-color: $gray-white;
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
}