

//Onboarding Nav:
.onboarding-nav {
    background-color: var(--light-shade);
    border-radius: 1rem;
    padding: 3rem 1rem;

    .onboarding-nav-number {
        width: 1.75rem;
        height: 1.75rem;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        display: inline-flex;
    }
    
    .onboarding-nav-link {
        font-size: 1.5rem;
        color: var(--white);
        margin: 0.5rem 0rem;
        .onboarding-nav-number {
            background-color: var(--white);
            color: var(--light-shade);
        }   
    }
    
    .onboarding-nav-link.disabled {
        color: var(--white);
        .onboarding-nav-number {
            background-color: var(--white);
            color: var(--light-shade);
        }   
    }
    
    .onboarding-nav-link.active {
        color: var(--main-brand) !important;
        .onboarding-nav-number {
            background-color: var(--main-brand) !important;
            color: var(--white) !important;
        }
    }
    
    .onboarding-nav-link.active:hover, .onboarding-nav-link.active:active {
        // color: darken(var(--main-brand), 15%) !important;
        .onboarding-nav-number {
            // background-color: darken(var(--main-brand), 15%) !important;
            color: var(--white) !important;
        }
    }
    
    .onboarding-nav-link.filled {
        font-size: 1.5rem;
        color: var(--light-accent);
        margin: 0.5rem 0rem;
        .onboarding-nav-number {
            background-color: var(--light-accent);
            color: var(--white);
        }   
    }
    
    .onboarding-nav-link.filled:hover, .onboarding-nav-link.filled:active {
        // color: darken(var(--light-accent), 15%);
        .onboarding-nav-number {
            // background-color: darken(var(--light-accent), 15%);
            color: var(--white);
        }   
    }
}

.onboarding-form-wrapper {
    margin: auto 0;
}

//Onboarding Form:
.onboarding-form {
    .form-title {
        color: var(--dark-shade);
    }

    .form-label {
        color: var(--dark-shade);
    }
    
    .form-error-text {
        color: var(--danger);
    }

    .form-footer {
        display: flex;
    }
}


//Onboarding Card
.onboarding-card {
    width: 100%;
    margin: 0.5rem 0rem;
    .card-btns {
        margin-top: auto;
        margin-bottom: 0.5rem;
    }
}

.onboarding-card-display {
    background-color: var(--light-shade);
    border-radius: 1rem;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
}