// Nav styling
.signup-nav{
    font-size: 2.5rem;
    font-weight: 500;
    padding-top: 3rem;
    color: var(--light-accent);
    .signup-nav-link{
        color:var(--main-brand);
    }
}

// Home styling
.home-information{
    justify-content: center;
}
.home-message {
    font-size: 1.5rem;
    color: var(--main-brand);
    z-index: 1;
}

// Footer styling
.footer {
    padding-top: 2rem;
    ul {
        padding: 0;
        list-style-type: none;
    }
}

.search-label{
    color:var(--light-accent);
}
