.pill {
    font-size: 1rem;
    padding-left: 0.8rem;
    padding-right: 0.65rem;
}

.close {
    font-size: 1.25rem;
    margin-top: -0.05rem;
    margin-left: 0.5rem;
    color: #fff;
    text-shadow: none;
    opacity: 1;
}

.close:hover {
    color: #fff;
}